{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="contact-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá {{ user.username }}</h3>
                </div>
            </div>
        </div>
    </div>
 </div>
    <section class="best-receipe-area">
        <div class="container">
            <div>
                {% include 'partials/_alertas.html' %}
                {% if oficios %}
                <div class="contact-area section-padding-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading">
                                    <h3>Você possui {{ oficios.count }} Ofícios pendentes de resposta</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th scope="col">Número do Ofício</th>
                        <th scope="col">Autoridade Emitente</th>
                        <th scope="col">Data de Recebimento</th>
                        <th scope="col">Prazo de Resposta</th>
                        <th scope="col"></th>
                    </thead>
                    {% for oficio in oficios %}
                    <tbody>
                    {% if oficio.deadline < data_atual %}
                        <tr class="bg-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td scope="row"><a href="{% url 'oficio' oficio.id %}">{{oficio.received_ol_number}}</a></td>
                            <td>{{oficio.authority}}</td>
                            <td>{{oficio.received_in}}</td>
                            <td>{{oficio.deadline}}</td>
                            <td>
                                <a href="{% url 'apaga_oficio' oficio.id %}" type="button" class="btn btn-success">Responder</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <div class="contact-area section-padding-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading">
                                    <h3>Não há Ofícios pendentes de resposta</h3><br><br>
                                    <h2>Parabéns!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                {% endif %}
                <div>
                    <a href="{% url 'novo_oficio' %}" type="button" class="btn btn-success btn-lg">Cadastrar Ofício Recebido</a>
                    <a href="" type="button" class="btn btn-success btn-lg">Cadastrar Ofício Expedido</a>
                    <a href="" type="button" class="btn btn-success btn-lg">Consultas e Relatórios</a>
                    {% if user.is_superuser %}
                    <a href="{% url 'renumera_oficios' %}" type="button" class="btn btn-danger btn-lg">Renumerar Todos os Ofícios</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->



 {% endblock %}