{% extends 'base.html' %}
{% load static %}
{% block content %}

 
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Cadastro de Ofícios</h3>
               </div>
           </div>
       </div>
 
       <div class="row">
           <div class="col-12">
           <p>Os campos marcados com "*" são obrigatórios</p>
               <div class="contact-form-area">
                   <form action="{% url 'novo_oficio' %}" method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                       <div class="row">
                            <div class="col-12 col-lg-9">
                                <label for="authority"><b>Autoridade Emitente: *</b></label>
                                <input type="text" id="authority" class="form-control" name="authority" placeholder="Ex. Juiz Corregedor Permanente" required>
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>Número do Ofício:  </b></label>
                                <input type="text" class="form-control" name="ol_origin_id" placeholder="Ex. Of. 44/2022">
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Recebido em: *</b></label>
                                <input class="form-control" name="received_in" cols="30" rows="10" placeholder="Ex. 30/05/2022" required></input>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Data do Ofício: *</b></label>
                                <input class="form-control" name="ol_date" cols="30" rows="10" placeholder="Ex. 30/05/2022" required></input>
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="file"><b>Prazo para Resposta: *</b></label>
                                <input type="text" class="form-control" name="deadline" placeholder="Ex. 15/06/2022" required>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Processo nº: </b></label>
                                <input type="text" class="form-control" name="lawsuit_number" placeholder="Ex. 1001456-44.2018.8.26.0311">
                            </div>
                            <div class="col-12 col-lg-9">
                                <label for="file"><b>Autor: </b></label>
                                <input type="text" class="form-control" name="lawsuit_author" placeholder="Ex. João da Silva">
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>CPF ou CNPJ: </b></label>
                                <input type="text" class="form-control" name="author_doc_number" placeholder="Ex. 000.000.000-01">
                            </div>
                            <div class="col-12 col-lg-9">
                                <label for="file"><b>Réu: </b></label>
                                <input type="text" class="form-control" name="lawsuit_accused" placeholder="Ex. João da Silva">
                            </div>
                            <div class="col-12 col-lg-3">
                                <label for="file"><b>CPF ou CNPJ: </b></label>
                                <input type="text" class="form-control" name="accused_doc_number" placeholder="Ex. 000.000.000-01">
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn delicious-btn mt-30" type="submit">Salvar</button>
                            </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
 
{% endblock %}