{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

 
<!-- ##### Formulario sem usar Django Forms  ##### -->
<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Alteração de Autoridade</h3>
               </div>
           </div>
       </div>
    </div>

   <!-- ##### Formulario usando Django Forms ##### -->
   <div class="container receipe-headline col-9">
        <form action="{% url 'altera_autoridade' autoridade.id %}" method="POST">
            {% csrf_token %}
            {% for f in form %}
                {{ f | bootstrap }}
            {% endfor %}
            <input class="btn delicious-btn mt-30" type="submit" value="Salvar">
        </form>
   </div>
</div>
 
{% endblock %}