{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

 
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Alteração de Ofício</h3>
                </div>
            </div>
        </div>
        <!-- ##### Formulario usando Django Forms ##### -->
        <div class="container col-9">
            <form action="{% url 'novo_oficio_form' %}" method="POST">
                {% csrf_token %}
                {% for f in form %}
                    {% if f.label == 'Autoridade Emitente' %}    
                        <div>
                            {{ f | bootstrap }}
                            <a href="{% url 'cadastra_autoridade' %}"><p>Cadastrar Autoridade</p></a> 
                        </div>
                    {% else %}
                        {{ f | bootstrap }}
                    {% endif %}
                {% endfor %}
                <input class="btn delicious-btn mt-30" type="submit" value="Salvar">
            </form>
        </div>
   </div>
</div>
 
{% endblock %}