{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h3>Número do Ofício Recebido: <b>{{oficio.received_ol_number}}</b></h3>
                            <div class="receipe-duration">
                                <h6>Autoridade Emitente:<b>  {{ oficio.authority}}</b></h6>
                                <h6>Recebido em: <b>  {{ oficio.received_in}}</b></h6>
                                <h6>Data do Ofício: <b>  {{oficio.ol_date}}</b></h6>
                                <h6>Número do Ofício: <b>  {{oficio.ol_origin_id}}</b></h6>
                                <h6>Processo nº: <b>  {{oficio.lawsuit_number}}</b></h6>
                                <h6>Autor: <b>  {{oficio.lawsuit_author}}</b></h6>
                                <h6>CPF ou CNPJ: <b>  {{oficio.author_doc_number}}</b></h6>
                                <h6>Réu: <b>  {{oficio.lawsuit_accused}}</b></h6>
                                <h6>CPF ou CNPJ: <b>  {{oficio.accused_doc_number}}</b></h6>
                                <h6>Prazo para Resposta: <b>  {{oficio.deadline}}</b></h6>
                                <h6>Providências: <b>  {{oficio.measures}}</b></h6>
                                <h6>Informações Adicionais: <b>  {{oficio.remarks}}</b></h6>
                                {% if resposta %}
                                    <h6>Número do Ofício Resposta: <b>  {{resposta}}</b></h6>
                                {% else %}
                                    <h6>Número do Ofício Resposta: <b>  {{oficio.answer_ol}}</b></h6>
                                {% endif %}
                            </div>
                            <div>
                                {% if oficio.status %}
                                <a href="{% url 'responde_oficio' oficio.id %}" type="button" class="btn btn-success">Responder</a>
                                {% endif %}
                                <a href="{% url 'atualiza_oficio_form' oficio.id %}" type="button" class="btn btn-warning">Editar</a>
                                {% if user.is_superuser %}
                                <a href="{% url 'apaga_oficio' oficio.id %}" type="button" class="btn btn-danger">Excluir</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                        </div>
                    </div>
                </div>
                <!-- Ingredientes -->


{% endblock %}