{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div>
                <p>form aqui</p>
                <label>Listagem por ano</label>
                <select></select>
            </div>
            <div>
                {% if oficios %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th scope="col">Número do Ofício</th>
                        <th scope="col">Autoridade Emitente</th>
                        <th scope="col">Data de Recebimento</th>
                        <th scope="col">Prazo de Resposta</th>
                    </thead>
                    {% for oficio in oficios %}
                    <tbody>
                        <tr>
                            <td scope="row"><a href="{% url 'oficio_recebido' oficio.id %}">{{oficio.received_ol_number}}</a></td>
                            <td>{{oficio.authority}}</td>
                            <td>{{oficio.received_in}}</td>
                            <td>{{oficio.deadline}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% else %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h1>Nenhum resultado encontrado</h1>
                    </div>
                {% endif %}
                <!-- ##### Pagination ##### -->
                <section class="top-catagory-area section-padding-20-0">
                    <div class="container">
                        {% if oficios.has_other_pages %}
                        <ul class="pagination">
                            {% if oficios.has_previous %}
                            <li class="page-item">
                                <a href="?page={{oficios.previous_page_number}}" class="page-link">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                            {% endif %}
                            {% for pagina in oficios.paginator.page_range %}
                            {% if oficios.number == pagina %}
                            <li class="page-item active">
                                <a class="page-link">{{pagina}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{pagina}}" class="page-link">{{pagina}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if oficios.has_next %}
                            <li class="page-item">
                                <a href="?page={{oficios.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </section>
                <!-- ##### Pagination End ##### -->
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->



 {% endblock %}