{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}

 
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Resposta ao Ofício {{ oficio.received_ol_number}}</h3>
                </div>
            </div>
        </div>
        <!-- ##### Formulario usando Django Forms ##### -->
        <div class="container receipe-headline col-9">
            <form action="{% url 'responde_oficio' oficio.id %}" method="POST">
                {% csrf_token %}
                <div class="receipe-duration">
                    <h6>Autoridade Emitente:<b>  {{ oficio.authority}}</b></h6>
                    <h6>Processo nº: <b>  {{oficio.lawsuit_number}}</b></h6>
                    <h6>Autor: <b>  {{oficio.lawsuit_author}}</b></h6>
                    <h6>CPF ou CNPJ: <b>  {{oficio.author_doc_number}}</b></h6>
                    <h6>Réu: <b>  {{oficio.lawsuit_accused}}</b></h6>
                    <h6>CPF ou CNPJ: <b>  {{oficio.accused_doc_number}}</b></h6>
                    {{ form | bootstrap }}
                </div>
                <input class="btn delicious-btn mt-30" type="submit" value="Salvar">
            </form>
        </div>
    </div>
</div> 
{% endblock %}