{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ##### TODO FAZER PÁGINA INDEX COM DESCRIÇÃO DAS FUNCIONALIDADES ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div>
              <li>
                <ul>Controle de Oficios</ul>
                <ul>Controle de Procurações - Em Breve</ul>
                <ul>Conversor de coordenadas UTM, Rumo e Geo - Em Breve</ul>
              </li>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->



 {% endblock %}