{% extends 'base.html' %}
{% load static %}
{% block content %}

    
        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <select name="select1" id="select1">
                                <option value="1"></option>
                                <option value="1"></option>
                                <option value="1"></option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 text-right">
                            <button type="submit" class="btn delicious-btn">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2>Número do Ofício Recebido: {{oficio.received_ol_number}}</h2>
                            <div class="receipe-duration">
                                <h6>Autoridade Emitente:<b>  {{ oficio.authority}}</b></h6>
                                <h6>Recebido em: <b>  {{ oficio.received_in}}</b></h6>
                                <h6>Data do Ofício: <b>  {{oficio.ol_date}}</b></h6>
                                <h6>Número do Ofício: <b>  {{oficio.ol_origin_id}}</b></h6>
                                <h6>Processo nº: <b>  {{oficio.lawsuit_number}}</b></h6>
                                <h6>Autor: <b>  {{oficio.lawsuit_author}}</b></h6>
                                <h6>CPF ou CNPJ: <b>  {{oficio.author_doc_number}}</b></h6>
                                <h6>Réu: <b>  {{oficio.lawsuit_accused}}</b></h6>
                                <h6>CPF ou CNPJ: <b>  {{oficio.accused_doc_number}}</b></h6>
                                <h6>Prazo para Resposta: <b>  {{oficio.deadline}}</b></h6>
                                <h6>Número do Ofício Resposta: <b>  {{oficio.answer_ol}}</b></h6>
                            </div>
                            {% if oficio.status %}
                            <div class="col-12 text-center"></div>
                                <form action="#" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <button class="btn delicious-btn mt-30" type="submit">Responder Ofício</button>
                                </form>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                        </div>
                    </div>
                </div>
                <!-- Ingredientes -->


{% endblock %}